<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Port Knocking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Port Knocking
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- fab placed to the top and end and on the top edge of the content overlapping header -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="formKnocking()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <app-config *ngFor="let config of getConfigs()" (edit)="formKnocking($event)" (remove)="removeKnocking($event)" [config]="config"></app-config>
  </ion-list>
  <p style="padding: 20px" *ngIf="getConfigs()?.length > 0">Note: Drag to the side to remove.</p>
  <p style="padding: 15px;" *ngIf="getConfigs()?.length === 0">There are no items in the list.</p>

</ion-content>
